<div class="choice">
  <h5>Question:</h5><textarea name="prompt" placeholder="Input Question"/></textarea>
  <br>
  <div class="choice_type">
    <h7>Choice Types :</h7>

    <!--  CODE REVIEW: Use Self documenting values (like 'Free | Multiple') instead of 1, 2 -->
    <select class='drop_down'>
      <option id='empty' value='0'></option>
      <option id='free' value='1'>Free Response</option>
      <option id='mult' value='2'>Multiple Choice</option>
    </select>
    <br>
  </div>
  <p id='option_amount'></p>
  <p id='option_field'></p>
</div>



<!-- {"title"=>"rhino", "prompt"=>"new color", "choice1"=>"grey", "choice2"=>"black ", "choice3"=>"white"} -->