<div class="container">
  <h1>Create Survey</h1>

  <form method='post' action='/survey'>
  Survey Title: <Input type='text' name='title'><br>
  <div class="dynamic_form">
    
  </div>
  <br>   
  <button id="add_question">Add Question</button>
  <br>

  <button>Create Survey</button>
</form>


</div>


