<div class="container">
  <h3><%= @survey.title %></h3>

  <form method='get' action='/user'>
    <div class="dynamic_form">
      
    </div>
    <br>   
    <button class="btn btn-default" id="add_question">Add Question</button>
    <br>
    <button class="btn btn-default" id="finish_survey">Finish Survey</button>
</form>


</div>


