<div class="container">
  <h1><%= @survey.title %></h1>

  <form method='get' action='/user'>
    <div class="dynamic_form">
      
    </div>
    <br>   
    <button id="add_question">Add Question</button>
    <br>
    <button id="finish_survey">Finish Survey</button>
</form>


</div>


