<div class="container">
  <h1><%= @survey.title %></h1>

  <form method='post' action='/survey'>
    <div class="dynamic_form">
      
    </div>
    <br>   
    <button id="add_question">Add Question</button>
    <br>
    <button>Create Survey</button>
</form>


</div>


