<div class= "container">
  <div class="panel panel-primary">
    <div class="panel-heading">Login</div>
    <form action="/login" method="post">
      <label for="name">Username</label>
      <input type="text" name="name" placeholder="username" class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" class="form-control">
      <br>
      <input class="btn btn-default" type="submit" value="Login">
    </form>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Sign Up</div>
    <form action="/sign_up" method="post">
      <label for="name">Username</label>
      <input type="text" name="name" placeholder="username" class="form-control">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="email" class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password"class="form-control">
      <br>
      <input class="btn btn-default" type="submit" value="Sign Up">
    </form>
  </div>
</div>
