<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>Taken surveys:</h2>
      <ul>
        <% @taken_surveys.each do |survey| %>
          <li><%= survey.survey.title %></li>
        <% end %>
      </ul>


      <h2>Created surveys:</h2>
      <ul>
        <% @created_surveys.each do |survey| %>
          <li><%= survey.title %></li>
        <% end %>
      </ul>
      <form method='get' action="/survey/new">
        <button>Create a New Survey</button>
        <input type='text' name='title' placeholder='Title'>
      </form>
    </div>

    <div class="col-lg-4">
      <h2>Surveys to Take:</h2>
      <ul>
        <% @all_surveys.each do |survey| %>
          <li><%= survey.title %></li>
          <a class="btn btn-default" href=<%= "/survey/#{survey.id}" %>>Start</a>
        <% end %>
      </ul>
    </div>
  </div>
</div>
